h1{font-family:Palatino Linotype}
h2{color:royalblue}
h3{color:royalblue}
h4{color:royalblue}
h5{color:royalblue}
h6{color:royalblue}

.blatt{color:royalblue;}
strong{color:red;}
em{color:lightskyblue}
ul {color:navy;}

h1{outline: ridge;}

body {with: 800px;}
